@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Custom Theme files -->
    <link href="~/CoreTemplateCoreTemplateWeb2-master-master/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/CoreTemplateCoreTemplateWeb2-master-master/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/CoreTemplateWeb2-master/css/font-awesome.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Metro Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="~/CoreTemplateWeb2-master/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="~/CoreTemplateWeb2-master/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script src="~/CoreTemplateWeb2-master/js/main.js"></script> <!-- Resource jQuery -->
    <!-- chart -->
    <script src="~/CoreTemplateWeb2-master/js/Chart1.js"></script>
    <!-- //chart -->
    <!-- Custom CSS for square charts -->
    <style>
        .chart-container {
            width: 200px; /* Set the desired width */
            height: 100px; /* Set the desired height to match width for square shape */
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            padding: 20px;
            box-sizing: border-box;
        }

        .icon-text {
            text-align: center;
        }

        .chart-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

            .chart-grid .chart-item {
                flex: 0 0 22%; /* 4 items per row with some space between */
                box-sizing: border-box;
                margin-bottom: 20px;
            }
    </style>
</head>
<body>
    <div class="total-content">
        <div class="chart-grid">
            <div class="chart-item">
                <div class="sales chart-container" style="background-color:#1abc9c">
                    <div class="icon-text">
                        <h3>@ViewBag.d1</h3>
                        <p>Total Food</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="new-users chart-container" style="background-color:#2ecc71">
                    <div class="icon-text">
                        <h3>@ViewBag.d2</h3>
                        <p>Total Category</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="orders chart-container" style="background-color:#3498db">
                    <div class="icon-text">
                        <h3>@ViewBag.d3</h3>
                        <p>Fruit Count</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="visitors chart-container" style="background-color:#9b59b6">
                    <div class="icon-text">
                        <h3>@ViewBag.d4</h3>
                        <p>Vegetable Count</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="sales chart-container" style="background-color:#16a085">
                    <div class="icon-text">
                        <h3>@ViewBag.d5</h3>
                        <p>Sum Food</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="new-users chart-container" style="background-color:#27ae60">
                    <div class="icon-text">
                        <h3>@ViewBag.d6</h3>
                        <p>Grain Count</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="orders chart-container" style="background-color:#2980b9">
                    <div class="icon-text">
                        <h3>@ViewBag.d7</h3>
                        <p>Food Max Stock</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="visitors chart-container" style="background-color:#8e44ad">
                    <div class="icon-text">
                        <h3>@ViewBag.d8</h3>
                        <p>Food Min Stock</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="sales chart-container" style="background-color:#16a085">
                    <div class="icon-text">
                        <h3>@ViewBag.d9</h3>
                        <p>Food Average Price</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="new-users chart-container" style="background-color:#27ae60">
                    <div class="icon-text">
                        <h3>@ViewBag.d10</h3>
                        <p>Fruit Sum</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="orders chart-container" style="background-color:#2980b9">
                    <div class="icon-text">
                        <h3>@ViewBag.d11</h3>
                        <p>Vegetables Sum</p>
                    </div>
                </div>
            </div>
            <div class="chart-item">
                <div class="visitors chart-container" style="background-color:#8e44ad">
                    <div class="icon-text">
                        <h3>@ViewBag.d12</h3>
                        <p>Grain Sum</p>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</body>
</html>
